*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(image/stopwatch.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container{
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.082);

}
.time{
    padding: 1rem 0;
    font-size: 2rem;
}
h1, p{
    color: antiquewhite;
}
button{
    padding: 0.4rem 1rem;
    margin: 0 0.2rem;
    border-radius: 10px;
    border: 1px solid rgba(245, 222, 179, 0.822);
    font-size: 1rem;
}
button:hover{
    background-color: black;
    color: rgba(250, 235, 215, 0.904);
}



